<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Manos para Respirar</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="/static/blog/images/logo_opt.png" rel="icon">
  <link href="/static/blog/images/logo_opt.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/fontawesome-free/web-fonts-with-css/css/fontawesome-all.css' %}" rel="stylesheet">
  <!-- Main Stylesheet File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>

<body>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container-fluid">

      <div id="logo" class="pull-left">
        <!-- <h1><a href="#intro" class="scrollto">Manos para Respirar</a></h1>-->
        <!-- Uncomment below if you prefer to use an image logo -->
         <a href="#intro"><img src="/static/blog/images/letra_blanco_opt.png" alt="" title="Manos para Respirar" /></a>
      </div>

      <nav id="nav-menu-container"> 
        <ul class="nav-menu">
          <li><a href="#services">Servicios</a></li>
          <li><a href="#call-to-action">Metodología</a></li>
           <!--<li><a href="#skills">Tarifas</a></li>-->
		  <li><a href="#about">Conócenos</a></li>
          <li><a href="#contact">Contacta</a></li>
          <li><a href="/trabaja">Trabaja con nosotros</a></li>
          <li><a href="/indexeng"><img src="/static/blog/images/gb.png"/></a></li>
          <li><a href="/indexfr"><img src="/static/blog/images/fr.png"/></a></li>
		  
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <div class="intro-container">
      <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active">
            <div class="carousel-background"><img src="/static/blog/images/intro-carousel/adults.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Cuidamos de los tuyos</h2>
                <p>Somos un grupo de profesionales expertos en cuidados y en la formación de las personas que cuidan, sean familiares o profesionales.</p>
                <a href="#featured-services" class="btn-get-started scrollto">Empezar</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="/static/blog/images/intro-carousel/abuelos.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>¿Qué podemos hacer por ti?</h2>
                <p>Escuchar tus necesidades y aportar  soluciones. Siguiendo siempre una estrategia basada en una atención integral, con el objetivo de facilitar tu día a día, en tu vida como cuidadora.</br>
Contacta con nosotros y valoraremos tu situación a la mayor brevedad posible.</p>
                <a href="#featured-services" class="btn-get-started scrollto">Servicios</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="/static/blog/images/intro-carousel/hand.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Nuestra Metodología</h2>
                <p>Cuidadoras con formación ofrecida por expertos con más de 20 años de experiencia.
				Realizamos valoración individualizada para ofrecer el servicio que más se ajuste a sus necesidades</p>
                <a href="#call-to-action" class="btn-get-started scrollto">Metodología</a>
              </div>
            </div>
          </div>
        </div>

        <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
    </div>
  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      Featured Services Section
    ============================-->
    <section id="featured-services">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 box">
            <i class="fas fa-phone"></i>
            <h4 class="title"><a href="#contact">Cuéntanos tus necesidades</a></h4>
            <p class="description"><a href="#contact">Contacta</a> con nosotros o te llamamos</p>
          </div>
		  
          <div class="col-lg-4 box box-bg">
            <i class="ion-ios-heart-outline"></i>
            <h4 class="title"><a href="#services">Cuidaremos de los que más te importan</a></h4>
            <p class="description">Nuestros cuidados arropan a quién más quieres</p>
          </div>
		  
          <div class="col-lg-4 box">
            <i class="ion-ios-stopwatch-outline"></i>
            <h4 class="title"><a href="">Estamos listos para ayudaros</a></h4>
            <p class="description">Podrás conocer al cuidador y estaremos con vosotros durante el periodo de adaptación</p>
          </div>

        </div>
      </div>
    </section><!-- #featured-services -->


    <!--==========================
      Services Section
    ============================-->
    <section id="services">
      <div class="container">

        <header class="section-header wow fadeInUp">
          <h3>Servicios</h3>
          <p>¿Cómo podemos ayudarte?</p>
        </header>

        <div class="row">

          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="icon"><i class="fas fa-capsules"></i></div>
            <h4 class="title">Medicación</h4>
            <p class="description">Seguimiento y control de la medicación</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="icon"><i class="fas fa-utensils"></i></div>
            <h4 class="title">Alimentación</h4>
            <p class="description">Cuidamos tu alimentación con cariño y dedicación</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="icon"><i class="fa fa-bath"></i></div>
            <h4 class="title">Aseo e higiene personal</h4>
            <p class="description">Cuidamos todos los detalles</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="icon"><i class="fa fa-heart"></i></div>
            <h4 class="title">Cuidados integrales de la piel</h4>
            <p class="description">Hidratación y movilizaciones </p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="icon"><i class="fa fa-home"></i></div>
            <h4 class="title">Cuidados del entorno</h4>
            <p class="description">Mantener un ambiente limpio y seguro</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-people"></i></div>            
            <h4 class="title">Acompañamiento</h4>
            <p class="description">Nos preocupa el bienestar físico y mental buscando el máximo nivel de autonomía</p>
		
          </div>

        </div>

      </div>
    </section><!-- #services -->

    <!--==========================
     
    <section id="call-to-action" class="wow fadeIn">
      <div class="container text-center">
        <h3>Call To Action</h3>
        <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <a class="cta-btn" href="#">Call To Action</a>
      </div>
    </section>
	Call To Action Section
    ============================-->
	
	
	

    <!--==========================
      Metodologia Section
    ============================-->
    <section id="call-to-action">
      <div class="container">

        <header class="section-header wow fadeInUp">
          <h3>Metodología</h3>
          <p>Cómo trabajamos</p>
        </header>

        <div class="row">

          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="icon"><i class="fas fa-tasks"></i></div>
            <h4 class="title">Valoración</h4>
            <p class="description">Valoración personalizada para ofrecer el servicio que más se ajuste a tus necesidades. </p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="icon"><i class="fas fa-user-check"></i></div>
            <h4 class="title">Proceso de selección</h4>
            <p class="description">Disponemos de bolsa de trabajo con personas capacitadas como cuidadoras profesionales </p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="icon"><i class="fas fa-comment"></i></div>
            <h4 class="title">Asesoramiento y acompañamiento</h4>
            <p class="description">Asesoramiento y acompañamiento en el periodo de adaptación a la nueva situación con visitas en  domicilio.</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="icon"><i class="fas fa-forward"></i></div>
            <h4 class="title">Seguimiento y valoración</h4>
            <p class="description">Seguimiento y valoración continuada para garantizar que quedan cubiertas las necesidades por las que se demandó el servicio.</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="icon"><i class="fas fa-thumbs-up"></i></div>
            <h4 class="title">Evaluación</h4>
            <p class="description">Evaluación sistematizada y control de calidad.</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
			<div class="icon"><i class="fas fa-hand-holding-heart"></i></div>
			<h4 class="title">Implicación</h4>
            <p class="description">Implicación de la familia en todo el proceso</p>
		  </div>

        </div>

      </div>
    </section><!-- #Metodologia -->
    <!--==========================
      Skills Section
    ============================-->
    <!--<section id="skills">
      <div class="container">

        <header class="section-header">
          <h3>Nuestras Tarifas</h3>
          <p>Indique el servicio que quiere disfrutar</p>
        </header>
		
		<div class="row about-cols">

          <div class="col-md-4 wow fadeInUp">
            <div class="about-col">
              <div class="img">
                <img src="/static/blog/images/about-mission.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="fas fa-calendar-alt"></i></div>
              </div>
              <h2 class="title"><a href="#">Entre semana</a></h2>
			  
				<input type="text" class="form-control" placeholder="Horas" id="num1" name="num1" /><br />
				
			  <ul>
				<h6>O bien, si se precisa como interno:</h6>
				<input type="checkbox" name="interno" id="interno" class="css-checkbox">
				<label for="interno" class="css-label">Interno</label><br />
				</ul><hr /><ul>
				<h6>Indique los días:</h6>
				<input type="checkbox" name="lunes" id="lunes" class="css-checkbox">
				<label for="lunes" class="css-label">Lunes</label><br />
				<input type="checkbox" name="martes" id="martes" class="css-checkbox">
				<label for="martes" class="css-label">Martes</label><br />
				<input type="checkbox" name="miercoles" id="miercoles" class="css-checkbox">
				<label for="miercoles" class="css-label">Miércoles</label><br />
				<input type="checkbox" name="jueves" id="jueves" class="css-checkbox">
				<label for="jueves" class="css-label">Jueves</label><br />
				<input type="checkbox" name="viernes" id="viernes" class="css-checkbox">
				<label for="viernes" class="css-label">viernes</label><br /><br />
			  </ul>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
            <div class="about-col">
              <div class="img">
                <img src="/static/blog/images/weekend.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-sunny"></i></div>
              </div>
              <h2 class="title"><a href="#">Fin de Semana</a></h2>
				<input type="text" class="form-control" placeholder="Horas" id="num2" name="num2" /><br />
			  <ul>
				<h6>O bien, si se precisa como interno:</h6>
				<input type="checkbox" name="interno2" id="interno2" class="css-checkbox">
				<label for="interno2" class="css-label">Interno</label><br />
			  </ul><hr /><ul>
				<h6>Indique los días:</h6>
				<input type="checkbox" name="Sabado" id="sabado" class="css-checkbox">
				<label for="sabado" class="css-label">Sábado</label><br />
				<input type="checkbox" name="Domingo" id="domingo" class="css-checkbox">
				<label for="domingo" class="css-label">Domingo</label><br /><br />
			  </ul>
			  </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
            <div class="about-col">
              <div class="img">
                <img src="/static/blog/images/about-vision.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="fas fa-check-circle"></i></div>
              </div>
              <h2 class="title"><a href="#">Coste</a></h2>
				<ul>
				<input type="button" class="button" value="Calcular" onclick="calc()" />
				<h2><p id="result" name="r1" style="font-size:20px"></p>Euros/Mes</h2>
				
				<br /><br />
				</ul>
            </div>
          </div>

        </div>
		
	
    </section>

    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container">

        <header class="section-header">
          <h3>Conócenos</h3>
          <p>Somos conscientes de que cada caso requiere un abordaje diferente y de la diversidad de situaciones familiares y de cuidados que necesita cada tipo de pacientes. Avalamos este servicio con la garantía de una gran experiencia y formación en ese campo.</p>
        </header>

        <div class="row about-cols">

          <div class="col-md-4 wow fadeInUp">
            <div class="about-col">
              <div class="img">
                <img src="/static/blog/images/mision.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="fas fa-flag"></i></div>
              </div>
              <h2 class="title"><a href="#">Nuestra Misión</a></h2>
              <p>
                Nuestro equipo centra su atención en prestar cuidados de apoyo de calidad que se ajusten a las necesidades diarias y particulares de las familias
			  </p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
            <div class="about-col">
              <div class="img">
                <img src="/static/blog/images/vision.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-eye"></i></div>
              </div>
              <h2 class="title"><a href="#">Nuestra Visión</a></h2>
              <p>Ser un referente en el cuidado centrado en la persona mejorando las condiciones de vida de las personas, sus cuidadoras/es y familias.</p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
            <div class="about-col">
              <div class="img">
                <img src="/static/blog/images/valores.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="fas fa-hands-helping"></i></div>
              </div>
              <h2 class="title"><a href="#">Nuestros Valores</a></h2>
				<ul>
					<li type="circle"><p>Liderazgo: enfermeras al frente de una atención integrada para ofrecer una atención de calidad.</p></li>
					<li type="circle"><p>Integridad: Nuestro mejor aval es nuestro trabajo y compromiso con el cuidado.</p></li>
					<li type="circle"><p>Responsabilidad: Dando respuesta a las necesidades planteadas en base al compromiso adquirido.</p></li>
				</ul>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #about -->
	
	
    <!--==========================
      Facts Section
    ============================
    <section id="facts"  class="wow fadeIn">
      <div class="container">

        <header class="section-header">
          <h3>Nuestra actividad</h3>
          <p>Nuestro impacto en la sociedad</p>
        </header>

        <div class="row counters">

  				<div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">274</span>
            <p>Clientes</p>
  				</div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">421</span>
            <p>Cuidadores</p>
  				</div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">1,364</span>
            <p>Horas encargándonos de cuidarte</p>
  				</div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">180</span>
            <p>Domicilios atendidos</p>
  				</div>

  			</div>

      </div>
    </section><!-- #facts -->

    <!--==========================
      Clients Section
    ============================
    <section id="clients" class="wow fadeInUp">
      <div class="container">

        <header class="section-header">
          <h3>Nuestros Avales</h3>
        </header>

        <div class="owl-carousel clients-carousel">
          <img src="/static/blog/images/clients/genval.png" alt="">
          <img src="/static/blog/images/clients/avs.jpg" alt="">
          <img src="/static/blog/images/clients/colegio_vlc.png" alt="">
          <img src="/static/blog/images/clients/ministerio.png" alt="">
        </div>

      </div>
    </section><!-- #clients -->

    <!--==========================
      Clients Section
    ============================-->
    <section id="testimonials" class="section-bg wow fadeInUp">
      <div class="container">

        <header class="section-header">
          <h3>Opiniones</h3>
        </header>

        <div class="owl-carousel testimonials-carousel">

          <div class="testimonial-item">
            <img src="/static/blog/images/jr.jpg" class="testimonial-img" alt="">
            <h3>Jose Ramón Riera</h3>
            <h4>Co-Fundador</h4>
            <p>
              <img src="/static/blog/images/quote-sign-left.png" class="quote-sign-left" alt="">
              Nuestra vocación es cuidar a todo el mundo, trabajamos para hacer esto posible
              <img src="/static/blog/images/quote-sign-right.png" class="quote-sign-right" alt="">
            </p>
          </div>

           <!--<div class="testimonial-item">
            <img src="/static/blog/images/testimonial-2.jpg" class="testimonial-img" alt="">
            <h3>Dolores Borrego</h3>
            <h4>Clienta</h4>
            <p>
              <img src="/static/blog/images/quote-sign-left.png" class="quote-sign-left" alt="">
              Una de las mejores decisiones de mi vida, ahora vivimos más tranquilos
			  <img src="/static/blog/images/quote-sign-right.png" class="quote-sign-right" alt="">
            </p>
          </div>-->

          <div class="testimonial-item">
            <img src="/static/blog/images/alex.jpg" class="testimonial-img" alt="">
            <h3>Alejandro Torrado</h3>
            <h4>Co-Fundador</h4>
            <p>
              <img src="/static/blog/images/quote-sign-left.png" class="quote-sign-left" alt="">
              Intentamos mejorar día a día acercándonos a los que más importan
			  <img src="/static/blog/images/quote-sign-right.png" class="quote-sign-right" alt="">
            </p>
          </div>

        </div>

      </div>
    </section><!-- #testimonials -->

    <!--==========================
      Team Section
    ============================-->
    <section id="team">
      <div class="container">
        <div class="section-header wow fadeInUp">
          <h3>Equipo</h3>
          <p>Nosotros, quienes nos preocupamos por ti</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 wow fadeInUp">
            <div class="member">
              <img src="/static/blog/images/jr.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Jose Ramón Riera</h4>
                  <span>Responsable Sanitario</span>
				  <span>Enfermero con amplia experiencia en gestión, atención domiciliaria, intervención familiar, trabajo con cuidadoras familiares y comunicación.</span>
                  <div class="social">
                    <!--<a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-facebook"></i></a>-->
                    <a href="https://www.linkedin.com/in/jos%C3%A9-ram%C3%B3n-mart%C3%ADnez-riera-70138936/"><i class="fab fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="member">
              <img src="/static/blog/images/jorge.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Jorge López</h4>
                  <span>Responsable Sanitario</span>
				  <span>Con experiencia como enfermero, Máster en Dirección y Gestión Sanitaria, se encarga de atender las necesidades de las familias.</span>
                  <div class="social">
                     <!--<a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-facebook"></i></a>-->
                    <a href="https://www.linkedin.com/in/jorge-l%C3%B3pez-g%C3%B3mez-47852379/"><i class="fab fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="member">
              <img src="/static/blog/images/alex.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Alejandro Torrado</h4>
                  <span>Director de Operaciones</span>
				  <span>Ingeniero de formación con experiencia en gestión empresarial.</span>
                  <div class="social">
                     <!--<a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-facebook"></i></a>-->
                    <a href="https://es.linkedin.com/in/alejandrotorrado121"><i class="fab fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="member">
              <img src="/static/blog/images/loli.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Dolores Saavedra</h4>
                  <span>Responsable Sanitario</span>
				  <span>Enfermera Comunitaria con larga experiencia en la Atención Domiciliaria y la Gestión de Casos de Pacientes Complejos.
			Experta en gestión de recursos e intervenciones de apoyo a las familias. </span>
                  <div class="social">
                    <!--<a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-facebook"></i></a>
                    <a href=""><i class="fab fa-linkedin"></i></a>-->
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #team -->

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="section-bg wow fadeInUp">
      <div class="container">

        <div class="section-header">
          <h3>Contacta</h3>
          <p>Contáctanos y nos pondremos en contacto contigo para ofrecerte el mejor de nuestros servicios de manera personalizada</p>
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="ion-ios-location-outline"></i>
              <h3>Contacto</h3>
              <address>Manos para respirar SL</address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="ion-ios-telephone-outline"></i>
              <h3>Teléfono</h3>
              <p><a href="tel:+34658088228">+34 658088228</a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="ion-ios-email-outline"></i>
              <h3>Email</h3>
              <p><a href="mailto:info@manospararespirar.com">info@manospararespirar.com</a></p>
            </div>
          </div>

        </div>

        <div class="form">
          <div id="sendmessage">Your message has been sent. Thank you!</div>
          <div id="errormessage"></div>
          <form action="/" method="post" >{% csrf_token %}
            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="text" name="name" class="form-control" id="name" placeholder="Nombre" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>
              <div class="form-group col-md-6">
                <input type="email" class="form-control" name="email" id="email" placeholder="Email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
            </div>
			<div class="form-row">
            <div class="form-group col-md-6">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Asunto" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
              <div class="validation"></div>
            </div>
			<div class="form-group col-md-6">
              <input type="text" class="form-control" name="phone" id="phone" placeholder="Teléfono" data-rule="required" data-msg="Please enter at least 9 chars of subject" />
              <div class="validation"></div>
            </div>
			</div>
            <div class="form-group">
              <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Cuéntanos qué te interesa"></textarea>
              <div class="validation"></div>
            </div>
            <div class="text-center"><button type="submit">Enviar</button></div>
          </form>
        </div>

      </div>
    </section><!-- #contact -->

  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
			<!--<img src="/static/blog/images/logo_blanco_simple_opt.png" alt="" title="Manos para Respirar" />-->
             <h3>Manos para Respirar</h3>
            <p>Somos un grupo de profesionales expertos en cuidados y en la formación de las personas que cuidan, sean familiares o profesionales.</p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Links</h4>
            <ul>
              <li><i class="ion-ios-arrow-right"></i> <a href="#intro">Home</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#services">Servicios</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#about">Conócenos</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              Manos para Respirar<br>
              Alicante<br>
              España<br>
              <strong>Teléfono:</strong>+34658088228<br>
              <strong>Email:</strong> info@manospararespirar.com<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fab fa-facebook"></i></a>
             <!-- <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>
<!--
          <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna veniam enim veniam illum dolore legam minim quorum culpa amet magna export quem marada parida nodela caramase seza.</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit"  value="Subscribe">
            </form>
          </div>-->

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Manos para Respirar</strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#contact" class="back-to-top"><i class="fa fa-envelope"></i></a>

  <!-- JavaScript Libraries -->
  <script src="{% static 'lib/jquery/jquery.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'lib/jquery/jquery-migrate.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'lib/easing/easing.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'lib/superfish/hoverIntent.js' %}" type="text/javascript"></script>
  <script src="{% static 'lib/superfish/superfish.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'lib/wow/wow.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'lib/waypoints/waypoints.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'lib/counterup/counterup.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'lib/isotope/isotope.pkgd.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'lib/lightbox/js/lightbox.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'lib/touchSwipe/jquery.touchSwipe.min.js' %}" type="text/javascript"></script>
  <!-- Contact Form JavaScript File -->
  <script src="{% static 'js/contactform.js' %}" type="text/javascript"></script>

  <!-- Template Main Javascript File -->
  <script src="{% static 'js/main.js' %}" type="text/javascript"></script>
  <script>
function calc() {
        /* finds out whether the browser uses textContent (Webkit, Opera, Mozilla...)
           or innerText (Microsoft) to set the text of an element/node */
    var textType = Node.textContent ? 'textContent' : 'innerText',
        /* uses parseFloat to create numbers (where possible) from the entered value
           if parseFloat fails to find a number (it's empty or nonsensical)
           then a 0 is used instead (to prevent NaN being the output). */
        num1 = parseFloat(document.getElementById('num1').value) || 0,
        num2 = parseFloat(document.getElementById('num2').value) || 0,

        // retrieves the result element
        result = document.getElementById('result');

		var lunes = 0;
		var martes = 0;
		var miercoles = 0;
		var jueves = 0;
		var viernes = 0;
		var sabado = 0;
		var domingo = 0;
		
		if( document.getElementById('lunes').checked ) {
			lunes = 8;
		}
        if( document.getElementById('martes').checked ) {
			martes = 8;
		}
		if( document.getElementById('miercoles').checked ) {
			miercoles = 8;
		}
        if( document.getElementById('jueves').checked ) {
			jueves = 8;
		}
		if( document.getElementById('viernes').checked ) {
			viernes = 8;
		}
        if( document.getElementById('sabado').checked ) {
			sabado = 10;
		}
        if( document.getElementById('domingo').checked ) {
			domingo = 10;
		}
		if( document.getElementById('interno').checked ) {
			num1 = 8;
		}
		if( document.getElementById('interno2').checked ) {
			num2 = 8;
		}
        result[textType] = (num1*lunes+num1*martes+num1*miercoles+num1*jueves+num1*viernes + num2*sabado+num2*domingo) * 4 + 50;
         
    
}
</script>

</body>
</html>
