<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Manos para Respirar</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="/static/blog/images/logo_opt.png" rel="icon">
  <link href="/static/blog/images/logo_opt.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/fontawesome-free/web-fonts-with-css/css/fontawesome-all.css' %}" rel="stylesheet">
  <!-- Main Stylesheet File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>

<body>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container-fluid">

      <div id="logo" class="pull-left">
        <!-- <h1><a href="#intro" class="scrollto">Manos para Respirar</a></h1>-->
        <!-- Uncomment below if you prefer to use an image logo -->
         <a href="#intro"><img src="/static/blog/images/letra_blanco_opt.png" alt="" title="Manos para Respirar" /></a>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li><a href="/#intro">Home</a></li>
          <li><a href="/#services">Servicios</a></li>
          <li><a href="/#call-to-action">Metodología</a></li>
          <!--<li><a href="/#skills">Tarifas</a></li>-->
		  <li><a href="/#about">Conócenos</a></li>
          <li><a href="/#contact">Contacta</a></li>
          <li class="menu-active"><a href="/trabaja">Trabaja con nosotros</a></li>
          <li><a href="/indexeng"><img src="/static/blog/images/gb.png"/></a></li>
          <li><a href="/indexfr"><img src="/static/blog/images/fr.png"/></a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->
    <!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <div class="intro-container">
      <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active">
            <div class="carousel-background"><img src="/static/blog/images/perro.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
				<h2>Trabaja con nosotros</h2>
                <p>Mándanos tu currículum y nos pondremos en contacto contigo para ofrecerte un mundo de posibilidades</p>
                <a href="#contact" class="btn-get-started scrollto">Aplicar</a>
				
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- #intro -->
  
  
    
    <section id="contact" class="section-bg wow fadeInUp">
      <div class="container">

        <div class="section-header">
          <h3>Contacta</h3>
          <p>Contáctanos y nos pondremos en contacto contigo para ofrecerte el mejor de nuestros servicios de manera personalizada</p>
        </div>

  {% block content %}
		<div class="form">
          <div id="sendmessage">Your message has been sent. Thank you!</div>
          <div id="errormessage"></div>
          <form action="/trabaja/" method="post" enctype="multipart/form-data">{% csrf_token %}
            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="text" name="name" class="form-control" id="name" placeholder="Nombre" data-rule="required" data-msg="Please enter at least 4 chars" required/>
                <div class="validation"></div>
              </div>
              <div class="form-group col-md-6">
                <input type="email" class="form-control" name="email" id="email" placeholder="Email" data-rule="email" data-rule="required" data-msg="Please enter a valid email" required/>
                <div class="validation"></div>
              </div>
            </div>
			<div class="form-row">
            <div class="form-group col-md-6">
              <input type="text" class="form-control" name="surname" id="surname" placeholder="Apellidos" data-rule="required" data-msg="Please enter at least 8 chars of subject" required/>
              <div class="validation"></div>
            </div>
			<div class="form-group col-md-6">
              <input type="text" class="form-control" name="phone" id="phone" placeholder="Teléfono" data-rule="required" data-msg="Please enter at least 9 chars of subject" required/>
              <div class="validation"></div>
            </div>
            </div>
            
			<div class="form-row">
            <div class="form-group col-md-6">
              <input type="text" class="form-control" name="dni" id="dni" placeholder="DNI" data-rule="required" data-msg="Please enter at least 8 chars of subject" required/>
              <div class="validation"></div>
            </div>
			<div class="form-group col-md-6">
              <input type="text" class="form-control" name="ciudad" id="phone" placeholder="Lugar de residencia" data-rule="required" data-msg="Please enter at least 9 chars of subject" required/>
              <div class="validation"></div>
            </div>
            </div>
			<div class="form-row">
            <div class="form-group col-md-6">
              <input type="text" class="form-control" name="edad" id="edad" placeholder="Edad" data-rule="required" data-msg="Please enter age" required/>
              <div class="validation"></div>
            </div>
			<div class="form-group col-md-6">
              <input type="text" class="form-control" name="nacionalidad" id="nacionalidad" placeholder="Nacionalidad" data-rule="required" data-msg="nacionalidad" required/>
              <div class="validation"></div>
            </div>
            </div>
			<hr />
			<h5>Formación</h5>
			<div class="form-row">
            <div class="form-group col-md-6">
             <textarea class="form-control" name="formacion" rows="3" data-rule="required" data-msg="Please write something for us" placeholder="Formación general" required></textarea>
               <div class="validation"></div>
            </div>
			<div class="form-group col-md-6">
               <textarea class="form-control" name="especifica" rows="3" data-rule="required" data-msg="Please write something for us" placeholder="Formación específica" required></textarea>
          	  <div class="validation"></div>
            </div>
            </div>
			<hr />
			<h5>Experiencia</h5>
			<div class="form-row">
            <div class="form-group col-md-6">
				Cuidados de personas dependientes:<br>
				si <input type="radio" name="cuidados" value="si">
				no <input type="radio" name="cuidados" value="no" checked><br>
            </div>
			<div class="form-group col-md-6">
            	Remunerados:<br>
				si <input type="radio" name="remunerados" value="si">
				no <input type="radio" name="remunerados" value="no" checked><br>
            </div>
            </div>
			<div class="form-group">
               <input type="text" class="form-control" name="duracion" id="duracion" placeholder="Meses de experiencia" data-rule="required" data-msg="experiencia" required/>
              <div class="validation"></div>
            </div>
			<hr />
			<h5>Tipo de cuidados</h5>
			<div class="form-row">
            <div class="form-group col-md-4">
				Personas con dependencia total:<br>
				si <input type="radio" name="dependencia" value="si">
				no <input type="radio" name="dependencia" value="no" checked><br>
            </div>
			<div class="form-group col-md-4">
            	Personas con dependencia parcial:<br>
				si <input type="radio" name="parcial" value="si">
				no <input type="radio" name="parcial" value="no" checked><br>
            </div>
			<div class="form-group col-md-4">
            	Acompañamiento:<br>
				si <input type="radio" name="acompanamiento" value="si">
				no <input type="radio" name="acompanamiento" value="no" checked><br>
            </div>
            </div>
			<hr />
			<h5>Disponibilidad</h5>
			<div class="form-row">
            <div class="form-group col-md-6">
				¿Podría trabajar como interno?<br>
				si <input type="radio" name="interno" value="si">
				no <input type="radio" name="interno" value="no" checked><br>
            </div>
			<div class="form-group col-md-6">
            	Disponibilidad de media jornada<br>
				si <input type="radio" name="media_jornada" value="si">
				no <input type="radio" name="media_jornada" value="no" checked><br>
            </div>
            </div>
			<hr />
			<h5>Sustituciones</h5>
			<div class="form-row">
            <div class="form-group col-md-6">
				¿Realizaría sustituciones los fines de semana?<br>
				si <input type="radio" name="fines_semana" value="si">
				no <input type="radio" name="fines_semana" value="no" checked><br>
            </div>
			<div class="form-group col-md-6">
            	¿Realizaría sustituciones los entre semana?<br>
				si <input type="radio" name="entre_semana" value="si">
				no <input type="radio" name="entre_semana" value="no" checked><br>
            </div>
            </div>
			<hr />
			<h5>Desplazamiento</h5>
			<div class="form-row">
            <div class="form-group col-md-6">
				¿Dispone de vehículo propio?<br>
				si <input type="radio" name="vehiculo" value="si">
				no <input type="radio" name="vehiculo" value="no" checked><br>
            </div>
			<div class="form-group col-md-6">
            	Indique el radio de desplazamiento en Kilómetros: 
				<input type="text" class="form-control" name="desplazamiento" id="desplazamiento" placeholder="Radio de desplazamiento" data-rule="required" data-msg="experiencia" required/>
               <div class="validation"></div>
            </div>
            </div>
			<div class="form-row">
            <div class="form-group col-md-6">
				Solo en su localidad: <br>
				si <input type="radio" name="solo_localidad" value="si">
				no <input type="radio" name="solo_localidad" value="no" checked><br>
            </div>
			<div class="form-group col-md-6">
            	En toda la provincia: <br>
				si <input type="radio" name="provincia" value="si">
				no <input type="radio" name="provincia" value="no" checked><br>
            </div>
            </div>
			<hr />	
			<div class="form-group">
			<div class="form-group">
              <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Cuéntanos qué te interesa" required></textarea>
              <div class="validation"></div>
            </div>
			<input type="file"
               id="myfile" name="myfile"
               accept="application/pdf" /> <div class="validation"></div>
            </div>
            <div class="text-center"><button type="submit">Enviar</button></div>
          </form>
        </div>	{% endblock %}	
        </div>
    </section><!-- #contact -->

<!-- JavaScript Libraries -->
  <script src="{% static 'lib/jquery/jquery.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'lib/jquery/jquery-migrate.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'lib/easing/easing.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'lib/superfish/hoverIntent.js' %}" type="text/javascript"></script>
  <script src="{% static 'lib/superfish/superfish.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'lib/wow/wow.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'lib/waypoints/waypoints.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'lib/counterup/counterup.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'lib/isotope/isotope.pkgd.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'lib/lightbox/js/lightbox.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'lib/touchSwipe/jquery.touchSwipe.min.js' %}" type="text/javascript"></script>
  <!-- Contact Form JavaScript File -->
  <script src="{% static 'js/contactform.js' %}" type="text/javascript"></script>

  <!-- Template Main Javascript File -->
  <script src="{% static 'js/main.js' %}" type="text/javascript"></script>
</body>
</html>
